<!-- <nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="patientdashboard">Patient Dashboard</a></li>
  </ul>
</nav> -->

  <nav class="navbar" style="margin-bottom: 10px;">
    <!-- Left: Logo -->
    <div class="logo">
      <img src="../../assets/TestLogo.svg" alt="Tech.Care Logo" style="padding-left: 20px;">
    </div>
  
    <!-- Center: Navigation Links -->
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#"><img src="../../assets/home_FILL0_wght300_GRAD0_opsz24.svg" alt="Home" style="padding-left: 25px;"> <span>Overview</span></a></li>
      <li class="active"><a routerLink="patientdashboard"><img src="../../assets/group_FILL0_wght300_GRAD0_opsz24.svg" alt="Patients"> <span>Patients</span></a></li>
      <li><a href="#"><img src="../../assets/BirthIcon.svg" alt="Schedule"> <span>Schedule</span></a></li>
      <li><a href="#"><img src="../../assets/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg" alt="Message"> <span>Message</span></a></li>
      <li><a href="#"><img src="../../assets/credit_card_FILL0_wght300_GRAD0_opsz24.svg" alt="Transactions"> <span>Transactions</span></a></li>
    </ul>
  
    <!-- Right: Profile & Settings -->
    <div class="profile-section">
      <div class="profile">
        <img class="doctor-pic" src="../../assets/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc@2x.png" alt="Doctor">
        <div class="profile-info">
          <p class="name">Dr. Jose Simmons</p>
          <p class="role">General Practitioner</p>
        </div>
      </div>
  
      <!-- Vertical Divider -->
      <div class="divider"></div>
  
      <div class="settings-icons">
        <img src="../../assets/settings_FILL0_wght300_GRAD0_opsz24.svg" alt="Settings" class="settings-icon">
        <img src="../../assets/more_vert_FILL0_wght300_GRAD0_opsz24.svg" alt="dots" class="dots-icon" style="padding-right: 20px;">
      </div>
    </div>
  </nav>
