<div class="dashboard-container">
  <!-- Left Sidebar: Patients List -->
  <aside class="sidebar">
    
    
    <div class="patients-header">
      <h2>Patients</h2>
      <img src="../../assets/search_FILL0_wght300_GRAD0_opsz24.svg" alt="Search">
    </div>

  
    <ul class="patients-list">
      <li *ngFor="let patient of patients" 
          [class.selected]="patient.name === 'Jessica Taylor'">
        <div class="patient-details">
          <img [src]="patient.profile_picture" alt="Patient Photo" />
          <div class="patient-info">
            <p class="name">{{ patient.name }}</p>
            <p class="age">{{ patient.gender }}, {{ patient.age }}</p>
          </div>
        </div>
        <img class="more-options" src="../../assets/more_horiz_FILL0_wght300_GRAD0_opsz24 (1).svg" alt="Options" style="width: 14px; height:8px;">
      </li>
    </ul>
  </aside>
  
  

  <!-- Main Content: Diagnosis & Graphs -->
  <main >
   
  <section class="diagnosis-history">
    <h2>Diagnosis History</h2>

    <div class="row align-items-start graph-container">
      <!-- Left Side: Graph (8 columns) -->
      <div class="col-md-8">
        <div class="graph-header d-flex justify-content-between align-items-center">
          <span><strong>Blood Pressure</strong></span>
          <button class="filter-btn">Last 6 months</button>
        </div>
        <div class="graph-wrapper">
          <app-graph [history]="filteredDiagnosisHistory"></app-graph>
        </div>
      </div>
  
      <!-- Right Side: Systolic & Diastolic (4 columns) -->
      <div class="col-md-4 systolic-diastolic">
        <div class="systolic-info">
          <span class="dot systolic-dot"></span> <span class="label">Systolic</span>
          <p >160</p>
          <p >
            <img src="../../assets/ArrowUp.svg" > Higher than Average
          </p>
        </div>
  
        <div class="diastolic-info">
          <span class="dot diastolic-dot"></span> <span class="label">Diastolic</span>
          <p >78</p>
          <p >
            <img src="../../assets/ArrowDown.svg" > Lower than Average
          </p>
        </div>
      </div>
    </div>



      <div class="vital-signs">
      <div class="card" style="background-color: #E0F3FA;">
        <img src="../../assets/respiratory rate.svg" alt="Respiratory Rate" class="icon">
        <div class="info">
          <p class="title" style="display: block;">Respiratory Rate</p>
          <p class="value">{{ patient.diagnosis_history[0]?.respiratory_rate.value }} bpm</p>
          <p class="status">Normal</p>
        </div>
      </div>
      
      <div class="card" style="background-color: #FFE6E9">
        <img src="../../assets/temperature.svg" alt="Temperature" class="icon">
        <div class="info">
          <p class="title">Temperature</p>
          <p class="value">{{ patient.diagnosis_history[0]?.temperature.value }} °F</p>
          <p class="status">Normal</p>
        </div>
      </div>
      
      <div class="card" style="background-color: #FFE6F1">
        <img src="../../assets/HeartBPM.svg" alt="Heart Rate" class="icon">
        <div class="info">
          <p class="title">Heart Rate</p>
          <p class="value">{{ patient.diagnosis_history[0]?.heart_rate.value }} bpm</p>
          <p class="status">
            <img src="../../assets/ArrowDown.svg" class="arrow-icon" alt="Lower">Lower than Average
          </p>
        </div>
      </div>
      </div>
    </section>
    


    <!-- <h2>Diagnostic List</h2> -->
    <app-diagnosis-history [diagnosticList]="diagnosticList"></app-diagnosis-history>

  </main>




<!-- Right Sidebar: Patient Details & Lab Results -->
<aside class="right-sidebar">
  
  <div class="patient-details-container">
    <div class="patient-card">
        <img [src]="patient.profile_picture" alt="patientPhoto" class="profile-img" />
        <h3 style="margin-top: 3px;">{{ patient.name }}</h3>

        <ul class="patient-info-list">
            <li>
                <img src="../../assets/BirthIcon.svg" alt="birthIcon">
                <div>
                    <p class="label">Date of Birth</p>
                    <p class="value"><strong>{{ patient.date_of_birth }}</strong></p>
                </div>
            </li>
            <li>
                <img src="../../assets/FemaleIcon.svg" alt="genderIcon">
                <div>
                    <p class="label">Gender</p>
                    <p class="value"><strong>{{ patient.gender }}</strong></p>
                </div>
            </li>
            <li>
                <img src="../../assets/PhoneIcon.svg" alt="phoneIcon">
                <div>
                    <p class="label">Contact Info.</p>
                    <p class="value"><strong>{{ patient.phone_number }}</strong></p>
                </div>
            </li>
            <li>
                <img src="../../assets/PhoneIcon.svg" alt="phoneIcon">
                <div>
                    <p class="label">Emergency Contacts</p>
                    <p class="value"><strong>{{ patient.emergency_contact }}</strong></p>
                </div>
            </li>
            <li>
                <img src="../../assets/InsuranceIcon.svg" alt="insuranceIcon">
                <div>
                    <p class="label">Insurance Provider</p>
                    <p class="value"><strong>{{ patient.insurance_type }}</strong></p>
                </div>
            </li>
        </ul>

        <button class="show-info-btn">Show All Information</button>
    </div>
</div>

  
  <!-- Lab Results -->
<div class="lab-results-container">
  <h2 style="margin-top: -4px;">Lab Results</h2>
  <div class="lab-results">
      <ul >
          <li *ngFor="let lab of patient.lab_results; let i = index" 
              [class.highlight]="i === 1"> 
              <p>{{ lab }}</p>
              <img src="../../assets/download_FILL0_wght300_GRAD0_opsz24 (1).svg" alt="downloadIcon">
          </li>
      </ul>
  </div>
</div>


</aside>

